@import url('https://fonts.googleapis.com/css?family=Mali&display=swap');

body {
  margin: 0;
  font-family: 'Mali', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px 10px;
}
